<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j">

<h:head>
    <title>RichFaces Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    </h:head>

<h:body>
		<h:messages errorStyle="color:red" />
        <ui:insert name="body">Default content</ui:insert>
</h:body>
</html>
