<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
<h:body>
	<ui:composition>

		<h:panelGroup id="#{id}">

			<h:panelGrid columns="2">
				<h:outputLabel for="rehabDropDown" value="Rehabilitation Center:" />
				<h:selectOneMenu id="rehabDropDown"
					value="#{subscriptionController.subscriptions}"
					onchange="#{rich:component('popup')}.show(); return true;">
					<f:selectItem itemValue="#{null}" itemLabel="-- select one --" />
					<f:selectItem id="item1" itemLabel="Rehab 1" itemValue="1" />
					<f:selectItem id="item2" itemLabel="Rehab 2" itemValue="2" />
					<f:selectItem id="item3" itemLabel="Rehab 3" itemValue="3" />
				</h:selectOneMenu>
			</h:panelGrid>

			<fieldset>
				<legend>Details</legend>

				<h:panelGrid columns="2">

					<h:outputText value="Address:" />
					<h:outputText value="*to select*" />

					<h:outputText value="Municipality:" />
					<h:outputText value="*to select*" />

					<h:outputText value="Telephone:" />
					<h:outputText value="*to select*" />
				</h:panelGrid>
			</fieldset>

		</h:panelGroup>

	</ui:composition>
</h:body>
</html>