<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
<h:body>
	<ui:composition>

		<h:panelGroup id="popupbuttons">

			<h:panelGrid columns="2">
				<h:outputLabel for="longTermFacilitiesDropDown"
					value="Long Term Care Facility:" />
				<h:selectOneMenu id="longTermFacilitiesDropDown" inmediate="true"
					value="#{popupFaceletsBean.selectedSubscription}"
					onchange="#{rich:component('myAwsomelyAwsomePopup')}.show(); return true;">
					<f:selectItem itemValue="#{null}" itemLabel="-- select one --" />
					<f:selectItem id="item1_lt" itemLabel="Home/Community" itemValue="1" />
					<f:selectItem id="item2_lt" itemLabel="Rehabilitation Centre"
						itemValue="2" />
					<f:selectItem id="item3_lt" itemLabel="Long-term Care" itemValue="3" />
					<f:selectItem id="item4_lt" itemLabel="Convalecence Facility"
						itemValue="4" />
					<f:selectItem id="item5_lt" itemLabel="Another Hospital" itemValue="5" />
					<f:selectItem id="item6_lt" itemLabel="Another Province" itemValue="6" />
					<f:selectItem id="item7_lt" itemLabel="Morgue" itemValue="7" />
					<f:selectItem id="item8_lt" itemLabel="Another Unit" itemValue="8" />

					<f:ajax event="change"
						listener="#{popupFaceletsBean.onChangeSubscriptions}"
						render="" />
				</h:selectOneMenu>
			</h:panelGrid>

			<fieldset>
				<legend>Details</legend>

				<h:panelGrid columns="2">

					<h:outputText value="Address:" />
					<h:outputText value="*to select*" />

					<h:outputText value="Municipality:" />
					<h:outputText value="*to select*" />

					<h:outputText value="Telephone:" />
					<h:outputText value="*to select*" />
				</h:panelGrid>
			</fieldset>

		</h:panelGroup>

	</ui:composition>
</h:body>
</html>