<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:rmp="http://org.rmp.com/facelets"
	xmlns:a4j="http://richfaces.org/a4j">
<h:body>
	<ui:composition>

		<rich:popupPanel id="#{popupId}" modal="true" autosized="true"
			resizeable="false" show="#{popupController.show}"
			domElementAttachment="parent" width="240" height="220">

			<f:facet name="header">
				<h:outputText value="Add participant phone number" />
			</f:facet>
			<f:facet name="controls">
				<h:outputLink value="#"
					onclick="#{rich:component(popupId)}.hide(); return false;">
									X
								</h:outputLink>
			</f:facet>

			<h:form id="#{popupId}_form">

				<div style="padding: 10px 0;">
					<h:outputLabel for="otDischargeType" value="Discharge type: " />
					<h:outputText id="otDischargeType"
						value="#{popupController.dischargeType}" />
				</div>

				<h:panelGroup id="type_1"
					rendered="#{popupController.showRehabInfo}">
					<rmp:dischargedRehabCenter id="rehabPanel" />
				</h:panelGroup>
				<h:panelGroup id="type_2"
					rendered="#{popupController.showLongTermInfo}">
					<rmp:dischargedLongTerm id="longTermPanel" />
				</h:panelGroup>

				<div style="text-align:right;">
					<h:commandButton value="Save">
						<f:ajax listener="#{popupController.save}"
							render=":parent :#{popupId}" />
					</h:commandButton>
					<h:commandButton value="Cancel">
						<f:ajax listener="#{popupController.parent.resetSelection}"
							render=":parent :#{popupId}" />
					</h:commandButton>
				</div>

			</h:form>
		</rich:popupPanel>

	</ui:composition>
</h:body>
</html>