<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<body>
	<ui:composition template="/templates/template.xhtml">

		<ui:define name="title">RichFaces Sample</ui:define>

		<ui:define name="body">
			<h:link value="back" outcome="index" />
			<br />
			<h:form prependId="false">
				<h:messages style="color:red;margin:8px;" />
				<br />
				<br />
				<br />

				<h:outputLabel value="Name:" for="nameInput" />
				<h:inputText id="nameInput" value="#{lazyDataModelBean.name}">
					<a4j:ajax event="keyup" render="output" />
				</h:inputText>
				<h:panelGroup id="output">
					<h:outputText value="Hello #{lazyDataModelBean.name}!"
						rendered="#{not empty lazyDataModelBean.name}" />
				</h:panelGroup>

				<br />
				<br />

				<h:selectOneMenu value="#{lazyDataModelBean.selectedItem}">
					<f:selectItem itemValue="100" itemLabel="-- select one --" />
					<f:selectItem itemValue="5" itemLabel="5 items" />
					<f:selectItem itemValue="15" itemLabel="15 items" />
					<f:selectItem itemValue="23" itemLabel="23 items" />
					<f:selectItem itemValue="33" itemLabel="33 items" />
					<f:selectItem itemValue="75" itemLabel="75 items" />
					<f:ajax event="change" listener="#{lazyDataModelBean.submit}"
						render="out2" />
				</h:selectOneMenu>

				<ui:remove>
					<rich:select value="#{lazyDataModelBean.selectedItem}"
						defaultLabel="-- select one --">
						<f:selectItem itemValue="5" itemLabel="5 items" />
						<f:selectItem itemValue="15" itemLabel="15 items" />
						<f:selectItem itemValue="23" itemLabel="23 items" />
						<f:selectItem itemValue="33" itemLabel="33 items" />
						<f:selectItem itemValue="75" itemLabel="75 items" />
						<f:ajax event="selectitem" listener="#{lazyDataModelBean.submit}"
							render="dataScroller dataTable" />
					</rich:select>
				</ui:remove>

				<br />

				<a4j:outputPanel id="out2" layout="block">
					<rich:dataScroller id="dataScroller" for="dataTable"
						page="#{lazyDataModelBean.selectedPage}" />
					<rich:dataTable id="dataTable"
						value="#{lazyDataModelBean.ordersDataModel}" var="item" rows="10">

						<rich:column>
							<f:facet name="header">Id</f:facet>
							<h:outputText value="#{item.id}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">Description</f:facet>
							<h:outputText value="#{item.description}" />
						</rich:column>

					</rich:dataTable>
				</a4j:outputPanel>
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>
