<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<body>
	<ui:composition template="/templates/template.xhtml">

		<ui:define name="title">RichFaces Sample</ui:define>

		<ui:define name="body">

			<ul>
				<li><h:link value="lazy dataModel Test"
						outcome="data_model_test" /></li>
				<li><h:link value="SelectOneMenu Test"
						outcome="select_one_menu_test" /></li>
				<li><h:link value="Pass parameters between ManagedBeans"
						outcome="read_and_send_name" /></li>
				<li><h:link value="Modal rich:popupPanel example"
						outcome="modal_example" /></li>
				<li><h:link value="Multiple Facelets to define popup content"
						outcome="popup_facelets" /></li>
			</ul>

		</ui:define>
	</ui:composition>
</body>
</html>
