<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<body>
	<ui:composition template="/templates/template.xhtml">

		<ui:define name="title">RichFaces Sample</ui:define>

		<ui:define name="body">

			<h:link value="back" outcome="index" />
			<br />
			<h:form id="parent" layout="block">
				<h:panelGroup id="pInfo">
					<h:panelGroup id="pName" layout="block">
						<h:outputLabel for="name" value="#{popupExampleBean.lNombre} " />
						<h:outputText id="name"
							value="#{popupExampleBean.person.name}" />
					</h:panelGroup>
					<h:panelGroup id="pAge" layout="block">
						<h:outputLabel for="age" value="#{popupExampleBean.lEdad} " />
						<h:outputText id="age" value="#{popupExampleBean.person.age}" />
					</h:panelGroup>
				</h:panelGroup>
				<h:panelGroup id="pbuttons">
					<h:outputText id="counter" value="#{popupExampleBean.counter}" />
					<h:commandButton value="Populate" id="bPopulate">
						<rich:componentControl target="popup" operation="show" />
					</h:commandButton>
				</h:panelGroup>
			</h:form>

			<rich:popupPanel id="popup" modal="true" autosized="true"
				resizeable="false" domElementAttachment="body">
				<f:facet name="header">
					<h:outputText value="Simple popup panel" />
				</f:facet>
				<f:facet name="controls">
					<h:outputLink value="#"
						onclick="#{rich:component('popup')}.hide(); return false;">X</h:outputLink>
				</f:facet>

				<h:form>
					<h:panelGroup id="popupbuttons">

						<h:panelGrid columns="2">
							<h:outputLabel value="#{popupExampleBean.lNombre}" />
							<h:inputText value="#{popupExampleBean.person.name}" />
							<h:outputLabel value="#{popupExampleBean.lEdad}" />
							<h:inputText value="#{popupExampleBean.person.age}" />
						</h:panelGrid>
						<h:commandButton value="@form"
							onclick="#{rich:component('popup')}.hide()">
							<f:ajax listener="#{popupExampleBean.onClickButton}"
								render=":parent:counter :parent"
								execute="@form" />
						</h:commandButton>
						<h:commandButton value="@all"
							onclick="#{rich:component('popup')}.hide()">
							<f:ajax listener="#{popupExampleBean.onClickButton}"
								render=":parent:counter :parent"
								execute="@all" />
						</h:commandButton>
						<h:commandButton value="age et name"
							onclick="#{rich:component('popup')}.hide()">
							<f:ajax listener="#{popupExampleBean.onClickButton}"
								render=":parent:counter :parent"
								execute=":parent:age :parent:name" />
						</h:commandButton>

					</h:panelGroup>
				</h:form>
			</rich:popupPanel>
		</ui:define>
	</ui:composition>
</body>
</html>
