<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:rmp="http://org.rmp.com/facelets">

<body>
	<ui:composition template="/templates/template.xhtml">

		<ui:define name="title">RichFaces Sample</ui:define>

		<ui:define name="body">

			<h:link value="back" outcome="index" />
			<br />

			<h:form id="parent">
			<h:messages id="messages" globalOnly="true" layout="table" />
			<br />
				<h:panelGroup id="parentPanel">
					<h:panelGroup id="container" layout="block">
						<h:selectOneMenu id="subscriptions"
							value="#{popupFaceletsBean.selectedSubscription}">
							<f:selectItem itemValue="#{null}" itemLabel="-- select one --" />
							<f:selectItems value="#{popupFaceletsBean.dischargedToTypes}"
								var="dischargedType" itemLabel="#{dischargedType.label}"
								itemValue="#{dischargedType.id}" />

							<f:ajax listener="#{popupFaceletsBean.onChangeSubscriptions}"
								render="container lastStatePanel :myAwsomelyAwsomePopup :myAwsomelyAwsomePopup_form" />
						</h:selectOneMenu>

						<h:commandButton value="save"
							rendered="#{popupFaceletsBean.unsaved}">
							<f:ajax listener="#{popupFaceletsBean.onSaveSubscriptions}"
								render="container lastStatePanel" />
						</h:commandButton>
					</h:panelGroup>

					<h:panelGrid columns="3" id="lastStatePanel">
						<h:outputLabel for="lastState" value="Previous state: " />
						<h:outputText id="lastState"
							value="#{popupFaceletsBean.previousSubscription}" />
						<h:outputText id="lastStateMark" value="*"
							rendered="#{popupFaceletsBean.unsaved}" />
					</h:panelGrid>
				</h:panelGroup>

				<h:commandLink value="CancelH">
					<f:ajax listener="#{popupFaceletsBean.resetSelection}"
						render="parentPanel :myAwsomelyAwsomePopup"></f:ajax>
				</h:commandLink>

			</h:form>

			<h:panelGroup id="popupContainer">
				<rmp:dischargedPopup popupId="myAwsomelyAwsomePopup" />
			</h:panelGroup>

		</ui:define>
	</ui:composition>
</body>
</html>
