<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<body>
	<ui:composition template="/templates/template.xhtml">

		<ui:define name="title">RichFaces Sample</ui:define>

		<ui:define name="body">

			<h:link value="back" outcome="index" />
			<br />
			<h:form>
				<h:outputText value="...#{selectOneMenuBean.name}..." />
				<h:selectOneMenu value="#{selectOneMenuBean.orderId}">
					<f:selectItem itemValue="#{null}" itemLabel="-- select one --" />
					<f:selectItems value="#{selectOneMenuBean.availableItems}"
						var="order" itemValue="#{order.id}"
						itemLabel="#{order.description}" />
					<f:ajax listener="#{selectOneMenuBean.loadCities}" render="cities" />
				</h:selectOneMenu>

				<h:selectOneMenu id="cities" value="#{selectOneMenuBean.cityId}"
					disabled="#{empty selectOneMenuBean.cities}">
					<f:selectItem itemValue="#{null}" itemLabel="-- select one --" />
					<f:selectItems value="#{selectOneMenuBean.cities}" var="city"
						itemValue="#{city.id}" itemLabel="#{city.name}" />
				</h:selectOneMenu>
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>
