<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<body>
	<ui:composition template="/templates/template.xhtml">

		<ui:define name="title">RichFaces Sample</ui:define>

		<ui:define name="body">
			<h:link value="back" outcome="read_and_send_name" />
			<br />
			<h:form prependId="false">
				<h:outputText value="Bienvenido #{welcomeWithParam.name}!" style="font-weight:bold" />
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>
